{% extends "encyclopedia/layout.html" %}

{% block body %}
    <style>
        .edit{
             margin-top: 20px;
        }

        h4{
            color:purple;
            text-shadow: 2px 2px 5px gold;
        }
        #sub{color: purple;
            font-size: larger;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 2px 2px 5px rgb(168, 168, 168);
            border:0;
            border-radius: 5px;
        
        }
         #sub:hover{
            text-shadow: 2px 2px 5px gold;
         }
    </style> 

    <form method = "POST" action = "make entry">
        {% csrf_token %}

        <div class="edit">
           
            <h4>
                Title
            </h4>
            {{form.title}}
            {% if TitleError %}
            <p style ="color: red;">Entry already Exists</p>
            {% endif %}
    
        

            <div style = 'position:absolute; right: 25px; margin-top: 10px;'>
                <input id = 'sub' type="submit" value="submit entry" >
            </div>
        </div>
      
        <div class="edit">
            <h4>
                content
            </h4>
            {{form.content}}
        </div>
       
       
        
    </form>
   
{% endblock %}

<!-- <div> {{form.title}}</div>
{%for error in form.title.errors%}
    <p class = "help is-danger"> {{error}}</p>
{% endfor %}

{{form.content}} -->